<div class="comment">
  {{#each this}}
  <div class="oneComment">
    <div>
      <h5>{{comments_text}}</h5>
    </div>
    <div>
      <h8>created by: {{user.username}}</h8>
    </div>
  </div>
  <br>
  {{/each}}
</div>