<div class="comment">
  {{#each this}}
  <div class="oneComment">
    <div>
      <h5>{{comments_text}}</h5>
    </div>
    <div>
      <h4 style="font-size: 10px;">created by: {{user.username}}</h4>
    </div>
  </div>
  <br>
  {{/each}}
</div>