<div class="newP">
  <h1>Welcome, {{user.username}}!</h1>
</div>

<div class="create">
  <h2>Create A New Post</h2>
</div>
<form class="createPost">
  <div class="column1">
    <div class="card code-card">
      <label class="labelText" for="post-title">Title:</label>
      <div class="input-field">
        <textarea style="width: 75% !important; height: 50px !important; font-size: 20px !important;" class="title"
          type="text" id="post-title" name="post-name"></textarea>
      </div>

      <div class="input-field">
        <label class="newContent" for="new-content">Content: </label>
        <textarea class="form-input" id="contentNew" type="text"></textarea>
      </div>
      <div class="">
        <input style="margin-left: 40%;" id="createBtn" type="button" value="Create" class="submit"></input>
      </div>
    </div>
  </div>
</form>