<div class="column1">
  <figure class="card code-card" style="border: solid 2px rgb(122, 122, 122); border-radius: 2rem">
    <div class="welcome">
      <h1>Welcome to the Tech-Blog</h1>
      <h4>Please Login to view the latest posts</h4>
    </div>
  </figure>
</div>