<form class="sign-in-form">
  <div class="login-card">
    <p class="sign" align="center">Sign in</p>
    <form class="form1">
      <input id="username-login" class="un " type="text" align="center" placeholder="Username">
      <input id="password-login" class="pass" type="password" align="center" placeholder="Password">
      <a type="submit" value="Login" class="submit" align="center">Sign in</a>
      <p class="forgot" align="center"><a href="#">
          <font color="#d7b3dd">Forgot Password?</font>
      </p>
      <p class="register" align="center"><a href="/signup">
          <font color="#d7b3dd">Register</font>
      </p>
    </form>
  </div>
</form>


<script src="./js/login.js"></script>