<div class="column1">
  <figure class="card code-card">
    <label for="title">Title</label>
    <input type="text" id="title" placeholder="{{post.title}}" />
    <textarea id="content">{{post.content}}</textarea>
  </figure>
</div>