<div class="edit-post">
  <div class="column1">
    <figure class="card code-card">
      <label for="title">Title</label>
      <input type="text" id="postTitle" placeholder="{{post.title}}" />
      <textarea id="content">{{post.content}}</textarea>
      <input style="margin-left: 46%; margin-top: 5%; margin-bottom: 5%;" type="submit" value="Edit" class="submit"
        align="center" />
    </figure>
  </div>
</div>