<form class="sign-up-form">
  <div class="signup-card">
    <p class="sign" align="center">Sign up</p>
    <form class="form1">
      <input id="#username-signup" class="un " type="text" align="center" placeholder="Username">
      <input id="#email-signup" class="pass" type="email" align="center" placeholder="Email">
      <input id="password-signup" class="pass" type="password" align="center" placeholder="Password">
      <a type="submit" class="submit" align="center">Sign up</a>
    </form>
  </div>
</form>

<script src="./js/signup.js"></script>